@page "/categories/create"
@using NewBlazorShop.Models

<h1>Nova categoria</h1>
<EditForm Model="@Model">
    <InputText @bind-Value="Model.Title"/>
</EditForm>
    
@code {
    public Category Model { get; set; } = new();

    protected override void OnInitialized()
    {
        Model.Title = "Minha incrivel categoria";
    }
}
